{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Create Survey{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h1>Am I Underpaid</h1>
                <form action="." method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-default" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
